* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffcf4;
}

.intro {
  height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
  font-size: 32px;
}
.intro h1 {
  display: inline-block;
  color: #fffcf4;
  font-family: "Exo 2";
  font-weight: 500;
  padding-bottom: 55px;
}
.intro h1 span {
  display: inline-block;
  font-family: "Exo 2";
  font-weight: 900;
  color: #1dde85;
}
.intro .description {
  font-family: "Roboto";
  font-weight: 300;
  color: #fffcf4;
  font-size: 21px;
}
.intro .container {
  padding-top: 18%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.navigation {
  width: 100%;
  height: 120px;
  background-color: #1a1a1a;
  border-bottom: solid 1px;
  border-color: #2e2d2e;
}

.nav_container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.nav_container .nav_logo {
  padding-left: 30px;
  font-size: 40px;
}
.nav_container .nav_logo .roboto {
  color: #fffcf4;
  font-family: "Roboto";
  font-weight: 400;
}
.nav_container .nav_logo .pacifico {
  color: #1dde85;
  font-family: "Pacifico";
  font-weight: 400;
}
.nav_container .links {
  font-family: "Roboto";
  font-weight: 300;
  padding-right: 95px;
  font-size: 14px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}
.nav_container .links a {
  text-decoration: none;
}
.nav_container .links a:hover {
  color: #1dde85;
  padding: 10px 0;
  border-bottom: solid 1px;
}
.nav_container .links a:visited {
  color: #fffcf4;
}
.nav_container .links a:visited:hover {
  color: #1dde85;
  padding: 10px 0;
  border-bottom: solid 1px;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: #fffcf4;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.about_header {
  margin: 0 auto;
  text-align: center;
}
.about_header h3 {
  font-family: "Roboto";
  font-weight: 500;
  display: block;
  margin-top: 125px;
  font-size: 30px;
}
.about_header h3 .about-logo {
  color: #1dde85;
}
.about_header .about_desc {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 18px;
  color: #8f8e91;
  display: block;
  margin: 60px 0 80px 0;
  line-height: 2;
}

.about_techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about_techs .tech_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 22px 20px;
  width: 350px;
  height: 240px;
  border: solid 1px;
  padding: 15px;
  text-align: center;
  border-color: #ebe8e2;
}
.about_techs .tech_box .tech_logo {
  margin-top: 15px;
}
.about_techs .tech_box .tech_name {
  margin: 15px 0 15px 0;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 500;
}
.about_techs .tech_box .tech_desc {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 14px;
  line-height: 2;
  color: #8f8e91;
}
@media screen and (max-width: 760px) {
  .about_techs .tech_box {
    margin: 15px 0;
  }
}
@media screen and (max-width: 1100px) {
  .about_techs .tech_box:nth-child(even) {
    margin-right: 0;
  }
  .about_techs .tech_box:nth-child(odd) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1170px) {
  .about_techs .tech_box:nth-child(3n) {
    margin-right: 0;
  }
  .about_techs .tech_box:nth-child(3n-2) {
    margin-left: 0;
  }
}
.about_techs .tech_box:hover {
  color: #1dde85;
  border-color: #1dde85;
}
.about_techs .tech_box:hover .tech_desc {
  color: #454546;
}