//Mixins =====
@mixin roboto($weight) {
    font-family: 'Roboto';
    font-weight: $weight;
}

@mixin exo($weight) {
    font-family: 'Exo 2';
    font-weight: $weight;
}

@mixin pacifico {
    font-family: 'Pacifico';
    font-weight: 400;
}

//Variables =====
$text_secondary:    #1dde85;
$text_primary_light:#fffcf4;
$text_primary_dark: #454546;

$bg_dark:           #1a1a1a;
$bg_light:          #fffcf4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $bg_light;
}

.intro{
    height: 100vh;
    width: 100%;
    background-color: $bg_dark;

    font-size: 32px;
    h1{
        display: inline-block;
        color: $text_primary_light;
        @include exo(500);
        padding-bottom: 55px;
        span {
            display: inline-block;
            @include exo(900);
            color: $text_secondary;
        }
    }
    .description{
        @include roboto(300);
        color: $text_primary_light;
        font-size: 21px;
    }
    .container{
        padding-top: 18%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1170px;
    }

}

.navigation {
    width: 100%;
    height: 120px;
    background-color: $bg_dark;
    border-bottom: solid 1px;
    border-color: #2e2d2e;
}

.nav_container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;

    .nav_logo{
        padding-left: 30px;
        font-size: 40px;
        .roboto{
            color: $text_primary_light;
            @include roboto(400);
        }
        .pacifico{
            color: $text_secondary;
            @include pacifico();
        }
    }

    .links{
        @include roboto(300);
        padding-right: 95px;
        font-size: 14px;
        width: 500px;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;

        align-items: center;

        a{
            text-decoration: none;
            &:hover {
                color: $text_secondary;
                padding: 10px 0;
                border-bottom: solid 1px;
            }
            &:visited {
                color: $text_primary_light;
            }
            &:visited:hover{
                color: $text_secondary;
                padding: 10px 0;
                border-bottom: solid 1px;
            }
        }
    }
}

.about{
    display: flex;
    flex-direction: column;
    background-color: $bg_light;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.about_header{
    margin: 0 auto;
    text-align: center;

    h3{
        @include roboto(500);
        display: block;
        margin-top: 125px;
        font-size: 30px;
        .about-logo{
            color: $text_secondary;
        }

    }

    .about_desc{
        @include roboto(100);
        font-size: 18px;
        color: #8f8e91;
        display: block;
        margin: 60px 0 80px 0;
        line-height: 2;
    }

}

.about_techs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tech_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 22px 20px;
        width: 360px - 10px;
        height: 250px - 10px;
        border: solid 1px;
        padding: 15px;
        text-align: center;
        border-color: #ebe8e2;

        .tech_logo{
            margin-top: 15px;
        }

        .tech_name{
            margin: 15px 0 15px 0;
            font-size: 24px;
            @include roboto(500);
        }

        .tech_desc{
            @include roboto(100);
            font-size: 14px;
            line-height: 2;
            color: #8f8e91;
        }

        @media screen and (max-width: 760px) {
            margin: 15px 0; 
        }

        @media screen and (max-width: 1100px) {
            &:nth-child(even) {
                margin-right: 0;
            }
    
            &:nth-child(odd) {
                margin-left: 0;
            } 
        }

        @media screen and (min-width: 1170px) {
            &:nth-child(3n) {
                margin-right: 0;
            }
    
            &:nth-child(3n-2) {
                margin-left: 0;
            } 
        }     

        &:hover{
            color: $text_secondary;
            border-color: $text_secondary;
            .tech_desc{
                color: #454546;
            }
        }

    }

}